/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100%;
}

/* Full-screen background image */
body {
  background: url('https://w0.peakpx.com/wallpaper/323/21/HD-wallpaper-plain-white-abstract.jpg') no-repeat center center fixed;
  /* background-color: #ffffff; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #ffffff;
}

.App {
  background-color: rgba(0, 0, 0, 0.6); /* Transparent background for readability */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  width: 80%;
}

h3 {
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

input {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  width: calc(100% - 22px); /* Adjust for padding and border */
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color:#39DB4A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
